<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xx后台管理系统</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/commone.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container">
        <%- include('./commone/head.ejs') %>
            <div class="lv_main">
                <%- include('./commone/menu.ejs') %>
                    <div class="body">
                        <div class="sc_l">
                            <form action="" class="form-inline">
                                <input type="text" class="form-control">
                                <button class="btn btn-primary">搜索</button>
                            </form>
                        </div>
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>用户名</th>
                                    <th>昵称</th>
                                    <!-- <th>年龄</th>
                                    <th>性别</th> -->
                                    <th>是否管理员</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%  for(var i = 0 ; i< list.length;i++){%>
                                    <tr>
                                        <th scope="row">
                                            <%= i+1 %>
                                        </th>
                                        <td>
                                            <%= list[i].username %>
                                        </td>
                                        <td>
                                            <%= list[i].nickname %>
                                        </td>
                                        <!-- <td>
                                            <%= list[i].age %>
                                        </td>
                                        <td>
                                            <%= list[i].sex %>
                                        </td> -->
                                        <td>
                                            <%= list[i].isAdmin %>
                                        </td>
                                        <td><% if(!list[i].isAdmin) {%>
                                            <a href="/users/delete?id=<%= list[i]._id %>">删除</a>
                                        <%}%>
                                        </td>
                                    </tr>
                                    <% }%>

                            </tbody>
                        </table>
                        <ul class="pagination">
                            <li>
                                <a href="/users?page=<%= currentPage - 1 < 1 ? 1: currentPage - 1 %>&pageSize=<%= pageSize %>" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% for (var i = currentPage < 3 ?0:(currentPage-3); i < (currentPage>(currentPage+2)?totalPage:((currentPage+2)>totalPage?totalPage:(currentPage+2))); i++) {%>
                                
                                <li class="<%= currentPage === (i+1) ? 'active': '' %>"><a href="/users?page=<%= i+1 %>&pageSize=<%= pageSize %>"><%= i + 1%></a></li>
                              <%}%>
                            <li>
                                <a href="/users?page=<%= currentPage + 1 > totalPage ? totalPage: currentPage + 1 %>&pageSize=<%= pageSize %>" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
            </div>
            <%- include('./commone/foot') %>
    </div>
</body>

</html>